@media screen and (max-width: 1400px) {
  .case-study .re-design-box .left-text {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 45%;
    margin-top: 65px;
  }
  .founders-guarantee .right .feedback {
    font-size: 2rem;
    line-height: 54px;
  }
  /* .get-in-touch .header .contact-icons {
    width: 27%;
    margin: auto;
  } */
  .get-in-touch .form {
    width: 60%;
  }
  .h-56 {
    height: 420px;
  }
  .landing-page .home .home-content .bottom {
    width: 100%;
  }
  .founders-guarantee .title-center {
    width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  .landing-page .navbar .nav-item .nav-link {
    margin: 0 6px;
    font-size: 1rem;
  }

  .landing-page .home .home-content .top {
    width: 80%;
    margin: auto;
    padding: 0 50px;
  }
  .landing-page .home .home-content .bottom {
    width: 100%;
  }
  .chat-bubble {
    position: absolute;
    right: 89px;
    top: -85px;
  }
  .case-study .re-design-box .back .front {
    position: absolute;
    top: 0;
    right: -27px;
    z-index: 5;
  }
  .case-study .re-design-box .title {
    font-size: 2.1rem;
    line-height: 51px;
  }
  .case-study .re-design-box .msg {
    font-size: 1rem;
  }
  .founders-guarantee .right .feedback {
    font-size: 1.7rem;
    line-height: 44px;
  }
  .founders-guarantee .right .para {
    padding: 24px 0;
    font-size: 24px;
    line-height: 29px;
  }
  .founders-guarantee .title-center {
    width: 80%;
  }
  .testimonials .msg-box {
    padding: 30px 10px;
  }
  .testimonials .msg-box .msg {
    font-size: 14px;
    line-height: 25px;
  }
  /* .get-in-touch .header .contact-icons {
    width: 35%;
    margin: auto;
  } */
  .testimonials .msg-box .user-detail .info {
    font-size: 0.8rem;
  }
  .footer .links {
    font-size: 3rem;
  }
  .heading .title {
    width: 70%;
  }
}
@media screen and (max-width: 1025px) {
  .landing-page .home .bottom .box .desc {
    font-size: 1rem;
  }
  .case-study .header .title {
    font-size: 3rem;
    line-height: 62px;
    padding-top: 38px;
  }
  .blue-box .big-title {
    width: 82%;
  }
  .btn-blue {
    font-size: 1.188rem;
    padding: 14px 28px;
  }
  .btn-blue:hover {
    font-size: 1.188rem;
    padding: 14px 28px;
  }
  .btn-white {
    padding: 14px 28px;
    font-size: 1.188rem;
  }
  .btn-white:hover {
    padding: 14px 28px;
    font-size: 1.188rem;
  }
  .founders-guarantee .title-center {
    width: 90%;
  }
  .get-in-touch .form {
    padding: 50px 80px;
  }
}
@media screen and (max-width: 993px) {
  .landing-page .home .home-content {
    margin: 80px 0 0 0;
  }
  .landing-page .navbar .btn-blue {
    padding: 12px 28px;
    display: inline-block;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .laptop {
    display: block;
  }
  .landing-page .home .home-content .top {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 50px;
  }
  .chat-bubble {
    position: absolute;
    right: 6px;
    top: -52px;
    width: 200px;
  }
  .chat-bubble .chat-content {
    height: 105px;
  }
  .chat-bubble .chat-content .chat-msg {
    font-size: 14px;
  }

  .landing-page .home .big-title {
    font-size: 5rem;
    line-height: 80px;
  }
  .landing-page .home .sub-title {
    font-size: 1rem;
  }
  .landing-page .home .para {
    font-size: 1.1rem;
    padding: 24px 0 36px 0;
  }
  .landing-page .home .home-content .bottom {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 90px;
    position: relative;
  }
  .hide {
    display: none;
  }
  .video-icon {
    right: 9px;
    bottom: -21px;
  }

  .case-study .header .title {
    font-size: 3rem;
    line-height: 60px;
  }
  .case-study .re-design-box .title {
    font-size: 2.3rem;
    line-height: 51px;
  }
  .case-study .para {
    width: 100%;
    line-height: 30px;
    padding: 32px 40px 64px 40px;
  }
  .top-space,
  .top-space2 {
    padding: 0 0 0 0;
  }
  .founders-guarantee .right {
    padding: 28px 40px;
  }
  .founders-guarantee .right .feedback {
    font-size: 1.2rem;
    line-height: 34px;
  }
  .heading .title {
    width: 90%;
  }
  .hide-img {
    display: none;
  }
  .hide-cards {
    display: none;
  }
  .show-carousel {
    display: block;
  }
  .case-study .re-design-box .left-text {
    position: relative;
    width: 100%;
    margin: 25px 0;
  }
  /* .get-in-touch .header .contact-icons {
    width: 50%;
    margin: auto;
  } */
  .get-in-touch .form {
    width: 80%;
    margin: auto;
  }
  .footer .right-content .show-logo {
    display: none;
  }
  .footer .hide-logo {
    display: block;
  }
  .footer .logo img {
    width: 120px;
  }
  .footer .links {
    font-size: 2.5rem;
    line-height: 62px;
    padding: 51px 51px 48px 24px;
  }

  .footer .right-content .info .details ul {
    margin-bottom: 28px;
    list-style-position: inside;
  }
  .footer .right-content .info .details {
    padding-left: 24px;
  }
  .footer .right-content .info .details ul li {
    color: #c6c6c6;
    line-height: 0;
  }
  .footer .right-content .info {
    flex-direction: column;
  }
  .footer .right-content .social {
    margin: 42px 24px;
  }
  .footer .copyright,
  .footer .footer-nav ul {
    padding-left: 24px;
  }
  .h-56 {
    height: auto;
  }
  .footer .right-content .info .details ul li::before {
    top: -5px;
  }
}

@media screen and (max-width: 769px) {
  .landing-page .home .home-content .bottom {
    display: none;
  }
  .landing-page .home .scrolling-wrapper {
    display: block;
  }
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 80px;

    .box {
      display: inline-block;
      margin: 0 24px;
    }
  }
  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  .video video {
    width: 300px;
    margin: auto;
  }
  /* .horizontal {
    display: flex;
    align-items: center;
  } */
  .landing-page .home .bottom .box .desc {
    padding-left: 14px;
  }
  .modal-content .video {
    text-align: center;
  }
  .btn-blue {
    font-size: 1rem;
    padding: 12px 28px;
  }
  .btn-blue:hover {
    font-size: 1rem;
    padding: 12px 28px;
  }
  .btn-white {
    padding: 12px 28px;
    font-size: 1rem;
  }
  .btn-white:hover {
    padding: 12px 28px;
    font-size: 1rem;
  }
  .video-icon {
    right: 76px;
    bottom: -21px;
    width: 160px;
  }
  .small {
    width: 30px;
    height: 30px;
  }
  .landing-page .home {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .heading .title {
    width: 100%;
    font-size: 3rem;
    line-height: 60px;
  }
  .landing-page .home .home-content .top {
    text-align: start;
    padding: 0;
  }
  .landing-page .home .big-title,
  .landing-page .home .sub-title,
  .landing-page .home .para {
    text-align: start;
  }
  .landing-page .home .home-content .star-img {
    text-align: start;
    display: inline-block;
    animation: round 6s 2s infinite;
  }

  .case-study .header .title {
    font-size: 2.5rem;
    line-height: 60px;
    width: 90%;
  }
  .case-study .para {
    width: 100%;
    font-size: 1.1rem;
    line-height: 30px;
    padding: 32px 40px 64px 40px;
  }
  .blue-box .big-title,
  .blue-box .big-title span {
    line-height: 60px;
    font-size: 3rem;
    padding: 0 0;
  }
  .blue-box .sub-title {
    font-size: 1.25rem;
    line-height: 28px;
  }
  .founders-guarantee .title-center {
    font-size: 2.25rem;
    line-height: 49px;
    padding-bottom: 70px;
  }
  .founders-guarantee .right .feedback {
    font-size: 1.3rem;
    line-height: 32px;
  }
  .founders-guarantee .right {
    padding: 0 40px;
  }
  .founders-guarantee .right .para {
    padding: 24px 0;
    font-size: 1.3rem;
    line-height: 29px;
    display: block;
  }
  .founders-guarantee .right .para span {
    padding-left: 12px;
  }
  .founders-guarantee .right .para span svg {
    height: 35;
    width: 35;
  }
  .top-space,
  .top-space2 {
    padding: 0 0 0 0;
  }
  /* .get-in-touch .header .contact-icons {
    width: 63%;
    margin: auto;
  } */

  .get-in-touch .form {
    width: 100%;
    margin: auto;
  }
  .get-in-touch .header .title {
    font-size: 3rem;
    line-height: 62px;
    letter-spacing: -0.03em;
    text-align: center;
  }
  .footer .footer-nav {
    margin: 24px 0;
  }
  .horizontal {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 560px) {
  .landing-page {
    padding: 20px 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .btn-blue {
    padding: 10px 4px;
  }
  .btn-blue:hover {
    font-size: 0.8rem;
    padding: 10px 4px;
  }
  .btn-blue span svg,
  .btn-white span svg {
    width: 24px;
    height: 24px;
  }
  .btn-blue:hover span svg,
  .btn-white:hover span svg {
    width: 24px;
    height: 24px;
  }
  .btn-white {
    padding: 10px 24px;
    font-size: 0.8rem;
  }
  .btn-white:hover {
    padding: 10px 24px;
    font-size: 0.8rem;
  }
  .case-study .re-design-box .rating {
    display: flex;
    padding: 12px 0 0 18px;
  }
  .round {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 170px;
    height: 105px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
  }

  .landing-page .home .home-content .top {
    text-align: start;
    padding: 0 25px;
  }
  .landing-page .home .sub-title {
    font-size: 0.875rem;
  }
  .landing-page .home .para {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0 42px 0;
  }
  .landing-page .home .big-title {
    font-size: 3.7rem;
    line-height: 64px;
  }
  .landing-page .home .bottom .box {
    justify-content: start;
    padding: 0 25px;
  }
  /* .horizontal {
    display: flex;
    align-items: center;
  } */
  .landing-page .home .bottom .box .desc {
    padding-top: 0;
    padding-left: 14px;
    font-size: 0.9rem;
  }
  .case-study {
    /* margin-top: 50px; */
    padding: 0 12px;
    text-align: start;
  }
  .case-study .header .sub-title {
    font-size: 0.75rem;
    text-align: start;
  }
  .case-study .header .title {
    font-size: 2.5rem;
    line-height: 48px;
    width: 100%;
    text-align: start;
    padding-top: 24px;
  }
  .case-study .para {
    font-size: 1rem;
    line-height: 25px;
    text-align: start;
    padding: 32px 0 64px 0;
  }
  .case-study .re-design-box .title {
    font-size: 2rem;
    line-height: 40px;
    padding: 0 12px;
    color: #1d65eb;
  }
  .case-study .re-design-box .msg {
    font-size: 0.875rem;
    line-height: 21px;
    padding: 25px 12px 12px 12px;
  }
  .case-study .re-design-box .user-info {
    padding: 12px 0 0 12px;
  }
  .case-study .re-design-box .btn-blue {
    display: flex;
    margin-left: 12px;
  }
  .blue-box {
    padding: 0 14px;
  }

  .blue-box .big-title {
    width: 100%;
    font-size: 3rem;
    line-height: 66px;
    padding: 0;
  }
  .blue-box .big-title span {
    font-size: 2.75rem;
    line-height: 56px;
    padding: 0;
  }
  .blue-box .sub-title {
    font-size: 1rem;
    line-height: 12px;
    margin: 10px 0 88px 0;
  }
  .founders-guarantee {
    padding: 60px 12px 0 12px;
  }
  .heading .sub-title {
    font-size: 0.75rem;
    line-height: 30px;
    text-align: start;
  }
  .heading .title {
    font-size: 2.75rem;
    line-height: 48px;
    text-align: start;
    padding-right: 48px;
  }
  .founders-guarantee .right {
    padding: 68px 0;
  }
  .founders-guarantee .title-center {
    font-size: 1.5rem;
    line-height: 34px;
    text-align: start;
    color: #171717;
    padding-bottom: 0;
    margin-top: 0;
    padding: 0 0;
  }
  .founders-guarantee .title-center span {
    font-size: 1.875rem;
    font-style: normal;
    color: #2e72f3;
  }
  .testimonials {
    padding: 48px 12px;
    background-color: #f3f7fe;
  }
  .hide-avatar {
    display: none;
  }
  .testimonials .msg-box .user-detail .info .name {
    padding-left: 0;
    font-size: 1rem;
    color: #171717;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 19px;
  }
  .testimonials .msg-box .user-detail .info .role {
    text-align: center;
    line-height: 14px;
    padding-left: 0;
    font-size: 0.688rem;
    color: #6d6e71;
    letter-spacing: 1px;
  }
  .get-in-touch {
    padding: 265px 12px 0 12px;
  }

  .get-in-touch .header .title {
    font-size: 3rem;
    line-height: 48px;
    text-align: start;
  }

  .get-in-touch .header .sub-title {
    font-size: 1rem;
    line-height: 23px;
    text-align: start;
  }

  .get-in-touch .header .contact-icons {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 48px;
    padding: 0 0 24px 0;
    width: 100%;
    margin: auto;
    text-align: start;
  }
  .get-in-touch .header .contact-icons .horizontal .icon {
    text-align: end;
  }
  .get-in-touch .header .contact-icons .horizontal {
    margin: 4px 0;
  }
  .get-in-touch .header .contact-icons .text {
    padding-left: 14px;
    font-size: 0.9rem;
  }
  .get-in-touch .form {
    padding: 24px;
  }
  .get-in-touch .form .title {
    text-align: start;
  }
  .accordion-button {
    font-size: 1.25rem;
  }
  .accordion-body {
    font-size: 1rem;
  }

  .chat-bubble {
    position: absolute;
    right: 20px;
    width: 180px;
  }
  .chat-bubble .chat-content {
    padding: 8px;
    height: 90px;
    width: 100%;
  }
  .footer .footer-nav ul li {
    padding-right: 13px;
  }
  .chat-bubble .chat-content .chat-msg {
    font-size: 12px;
  }
  .get-in-touch .faq-content .header .sub-title {
    padding-top: 32px;
  }
  .get-in-touch .form .submit .btn-blue {
    font-size: 1rem;
    padding: 10px 12px;
  }
  .video video {
    width: 218px;
    margin: auto;
  }
  .modal-content img {
    width: 174px;
  }
  .get-in-touch .form .submit {
    text-align: start;
  }
  .heading .title {
    width: 100%;
    font-size: 2.2rem;
    line-height: 45px;
  }
}
@media screen and (max-width: 321px) {
  .landing-page .home .big-title {
    font-size: 3rem;
    line-height: 64px;
  }

  .case-study .header .title {
    font-size: 2rem;
    line-height: 38px;
  }

  .case-study .re-design-box .title {
    font-size: 1.75rem;
  }

  .blue-box .big-title {
    font-size: 2rem;
    line-height: 56px;
  }
  .blue-box .big-title span {
    font-size: 2rem;
    line-height: 56px;
  }

  .heading .title {
    font-size: 2.5rem;
    padding-right: 0;
  }
  .get-in-touch .form {
    padding: 24px;
  }

  .get-in-touch {
    padding: 265px 12px 0 12px;
  }
  .get-in-touch .header .title {
    font-size: 2.5rem;
    line-height: 48px;
    text-align: start;
  }
  .footer .links {
    font-size: 2rem;
  }
  .accordion-button {
    font-size: 1.2rem;
  }
  .accordion-body {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 781px;
    margin: 1.75rem auto;
  }
}
